#about h4 {
    padding-bottom: 20px
}

.me {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    -webkit-animation: action 0.9s infinite  alternate;
    animation: action 0.9s infinite  alternate;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}


.about-flex {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.about-padding {
    
}

#about h4 {
    padding-top: 30px;
}

.button-box {
    padding: 20px 0;
    display: flex;
    gap: 20px;
}

.cv-btn, .github-btn {
    width: 150px;
    justify-content: center;
}

.github-btn {
    background-color: transparent;
    border: 1px solid #fe3780;;
}

.cv-btn:hover {
    background-color: transparent;
    border: 1px solid #fe3780;
}


.github-btn:hover{
    background-color: #fe3780;
}


@media (max-width: 991px) {

    #about {
        text-align: center; 
    }

    .me {
        width: 400px;
        height: 400px;
    }

    .button-box {
        justify-content: center;
        align-items: center;
    }
   
    
}

@media (max-width: 500px) {

    .me {
        width: 300px;
        height: 300px;
    }

}